#root {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3rem;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formContainer {
  flex-basis: 30%;
  padding: 20px;
  border: 2px solid white;
}
.displayContainer {
  flex: 1;
  border-left: 1px solid #ccc;
  padding-left: 20px;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}
